.rt-form-count-element {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 0;
  font-size: .8em;
  text-align: right;
  &.invalid {
    color: $rtcc-error-color;
  }
  &.valid {
    color: $rtcc-success-color;
  }
  > p {
    margin: 5px 0 0;
  }
  &:before, &:after {
    content: " ";
    display: table;

  }
  &:after {
    clear: both;
    //Clearfix
    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }
}

.rt-form-count-element__help-text {
  float: left;
  color: lighten($rtcc-text-color, 20%);
}

.rt-form-count-element__counter {
  float: right;
}